.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-line {
    border: 1px solid #cacaca;
}

.theme-button {
    border-radius: 75px;
    /* webkit-border-radius: 75px; */
    background-color: inherit;
    cursor: pointer;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
